# SCELBAL debug configuration for cpmemu

program = zsid.com
args = SCELBAL.COM SCELBAL.SYM

# debug = true

# Map .SYM files as text (enables LF -> CR-LF conversion)
*.sym text

# Map .COM files
*.com binary
